.list {
  padding: 10px;
  z-index: 1;
}

.list-paper {
  padding: 18px 12px 0 12px;
  border-radius: 14px !important;
}

.list-search {
  display: flex;
  gap: 14px;
}

.list-search .filters-button,
.list-search button[type=submit],
.create-employee-button {
  display: flex;
  gap: 8px;
  padding: 6px 8px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: bold;
  text-transform: unset !important;
  border-radius: 8px !important;
}

.list-search button[type=submit],
.list-search .create-employee-button {
  padding: 6px 14px 6px 16px;
  gap: 2px;
}

.list-search-field {
  flex-grow: 1;
}

.list-search-field .MuiInputBase-root {
  border-radius: 8px !important;
}

.list-search-popover .MuiPopover-paper {
  display: grid;
  grid-template-areas:
    "r-s-selection"
    "employees-selection"
    "date-picker-selection";
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  min-width: 700px !important;
  max-width: 900px;
  padding: 20px;
  gap: 8px;
  border-radius: 16px;
}

.list-search-popover .MuiStack-root {
  gap: 14px;
  align-items: center;
}

.list-search-popover .MuiPickersTextField-root {
  margin: 0;
}

.list-search-popover-r-s {
  display: flex;
  gap: 16px;
  grid-area: r-s-selection;
}

.list-search-popover-r-s > *,
.list-search-popover-date-picker .MuiStack-root > * {
  width: calc(100% - 8px);
}

.list-search-popover-employees {
  grid-area: employees-selection;
}

.list-search-popover-date-picker {
  grid-area: date-picker-selection;
}

.list-table-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 160px); /* avoid vertical window scroll, by fitting wrapper inside it */
  overflow: auto;
  margin-top: 10px;
}

.list table {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  border-spacing: 0;
  width: 100%;
}

.list table thead {
  position: sticky;
  top: 0;
  background-color: var(--mui-paper-no-elevation-bg);
  z-index: 999;
}

.list table tbody tr:hover {
  background-color: rgba(255, 255, 255, .1);
}

.list table th {
  text-align: left;
  padding: 18px 16px;
}

.list table td {
  padding: 10px 14px;
  /*vertical-align: top;*/
}

.list-table-wrapper ul {
  justify-content: center;
}

.list-pagination-wrapper {
  position: sticky;
  bottom: 0;
  left: 0;
  padding: 0 0 14px;
  background-color: var(--mui-paper-no-elevation-bg);
}
