.sidebar {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  max-width: 300px;
  min-height: 100vh;
  padding: 16px;
}

.sidebar .user-name {
  font-size: 15px;
}

.duty-button-group {
  margin: 10px 0;
}

.duty-button-group button {
  padding: 8px 6px!important;
  justify-content: center!important;
}

.sidebar-navigation {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 10px;
  height: auto;
}

.sidebar-navigation button {
  display: flex;
  gap: 14px;
  width: 100%;
  justify-content: start;
  text-transform: capitalize;
  padding: 14px 18px;
  border-radius: 12px;
}

.nav-button-active {
  background-color: var(--nav-btn-active-bg) !important;
}

.nav-button-active:hover {
  background-color: var(--nav-btn-active-bg-hover) !important;
}

.nav-button-inactive {
  background-color: transparent !important;
  color: var(--nav-btn-inactive-color) !important;
}

.nav-button-inactive:hover {
  background-color: var(--nav-btn-inactive-bg-hover) !important;
}
