:root {
  --nav-btn-active-bg: rgba(25, 118, 210, 0.1);
  --nav-btn-active-bg-hover: rgba(25, 118, 210, 0.2);
  --nav-btn-inactive-bg: rgba(213, 213, 213, 0.1);
  --nav-btn-inactive-bg-hover: rgba(213, 213, 213, 0.2);
  --nav-btn-inactive-color: rgb(131, 131, 131);
  --mui-disabled-color: rgba(255, 255, 255, 0.3);
  --mui-paper-no-elevation-bg: #1e1e1e;
}

*, ::before, ::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #121212;
  color: #fff !important;
  min-height: 100vh;
}

.content-wrapper:not(:has(.sign-in)) {
  position: relative;
  display: grid;
  min-height: 100vh;
  grid-template-areas:
    "sidebar header"
    "sidebar main";
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
}

.sidebar {
  grid-area: sidebar;
}

.content-header {
  grid-area: header;
}

.routes-content {
  grid-area: main;
}
